.result-box {
	padding:2em;/*内側余白*/
  border-top:solid 5px #8FAAAD;
	border-bottom:solid 5px #8FAAAD;
	background: repeating-linear-gradient(-45deg, #f2f3f4 0 6px, #fff 6px 12px);
  justify-content: center; /* 子要素を中央に配置 */
  width: 100%; /* 幅を100%に変更 */
  max-width: 800px; /* 最大幅は800pxに制限 */
  margin: 0 auto;
  height: auto; /* 高さを自動調整に変更 */

}

.h2-text {
  color: #4d9bc1;
  font-size: 40px;
}
.h2-text span{
  color: #4d9bc1;
  font-size: 40px;
}


.game-area {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 子要素を中央に配置 */
  width: 100%; /* 幅を100%に変更 */
  max-width: 800px; /* 最大幅は800pxに制限 */
  margin: 0 auto; /* grid自体を中央寄せ */
  height: auto; /* 高さを自動調整に変更 */
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

.text-align-center {
  text-align: center;
}